<!DOCTYPE html>
<html lang="en">

<head>
    <script>
    function deleteItemFromCart(item_id) {
        var data = new FormData();
        data.append('item_id', item_id);
        var loadHTML = new XMLHttpRequest();
        loadHTML.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
            if (loadHTML.responseText === 'fail') {
                alert("Deletion of item failed")
            }
            else {
                window.location.href = "../app/shopping_cart/get_cart_items/";
            }
        }
        };
        loadHTML.open("POST", "../app/shopping_cart/remove_item_shopping_cart/", true);
        loadHTML.send(data);
    }
    function addCouponCode()
    {
        if(document.getElementById("code").value == '')
        {
            alert("no coupon id");
        }
        else
        {
            var data = new FormData();
            data.append('code',document.getElementById("code").value);
            var loadHTML = new XMLHttpRequest();
            loadHTML.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                if (loadHTML.responseText === 'fail') {
                    alert("No such code exists for the cart")
                }
                else {
                    window.location.href = "../app/shopping_cart/get_cart_items/";
                }
            }
            };
            loadHTML.open("POST", "../app/shopping_cart/update_code_shopping_cart/", true);
        loadHTML.send(data);
        }
    }
    function checkNotEmptyCart()
    {
        var data = new FormData();
        var loadHTML = new XMLHttpRequest();
        loadHTML.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
            if (loadHTML.responseText === 'OK') {
                    window.location.href = "../app/shopping_cart/addressing/";
            }
            else {
                 alert('Shopping cart is empty');
            }
        }
        };
        loadHTML.open("GET", "../app/shopping_cart/check_empty_cart/", true);
        loadHTML.send(data);
    }
    function changeAmount(item_id)
    {
        var data = new FormData();
        data.append('item_id',item_id);
        data.append('quantity',document.getElementById('quantity'+item_id).value);
        var loadHTML = new XMLHttpRequest();
        loadHTML.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
            if (loadHTML.responseText === 'OK') {
                    location.reload();
            }
            else {
                 location.reload();
            }
        }
        };
        loadHTML.open("POST", "../app/shopping_cart/update_item_shopping_cart/", true);
        loadHTML.send(data);
    }
    </script>
    <BASE href="http://localhost:8000/static/">

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        uTrade
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">


    <!-- *** SCRIPTS TO INCLUDE ***
_________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
    <script src="js/search.js"></script>
    <script src="js/web_sockets.js"></script>


</head>

<body>


    <!-- *** TOPBAR ***
_________________________________________________________ -->
{% autoescape off %}
    {{ topbar }}
{% endautoescape %}

<!-- *** TOP BAR END *** -->

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

                <a class="navbar-brand home" href="../app/home/" data-animate-hover="bounce">
                    <img src="img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="../app/shopping_cart/get_cart_items/">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs"> {{number_of_items}} items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

        <!--/.nav-collapse -->

        {% autoescape off %}
            {{ navbar }}
        {% endautoescape %}

        <div class="collapse clearfix" id="search">
            <div class="row">

                <div class="row">
                    <form class="navbar-form" role="search" action = "javascript:onClickOnSearch1()">
                        <div class="input-group">
                            <input type="text" id="SearchForm1" class="form-control" placeholder="Search By Name">
                            <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>

		    </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form class="navbar-form" role="search" action = "javascript:onClickOnSearch2()">
                        <div class="input-group">
                            <input type="text" id="SearchForm2" class="form-control" placeholder="Search By Category">
                            <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>

		    </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form class="navbar-form" role="search" action = "javascript:onClickOnSearch3()">
                        <div class="input-group">
                            <input type="text" id="SearchForm3" class="form-control" placeholder="Search By Keywords">
                            <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>

		    </span>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <form class="navbar-form" role="search" action = "javascript:onClickOnSearch4()">
                        <div class="input-group">
                            <input type="text" id="SearchForm4" class="form-control" placeholder="Search Shop">
                            <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>

		    </span>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->


    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Shopping cart</li>
                    </ul>
                </div>

                <div class="col-md-9" id="basket">

                    <div class="box">

                        <form action="javascript:checkNotEmptyCart()">

                            <h1>Shopping cart</h1>
                            <p class="text-muted">You currently have {{number_of_items}} item(s) in your cart.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Discount</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item,item,discount,total_price in cart_items_combined %}
                                        <tr>
                                            <td>
                                                <a href="http://localhost:8000/app/item?item_id={{item.id}}">
                                                    <img src="{{item.url}}">
                                                </a>
                                            </td>
                                            <td><a href="http://localhost:8000/app/item?item_id={{item.id}}">{{item.name}}</a>
                                            </td>
                                            <td>
                                                <input id="quantity{{item.id}}" type="number" value="{{ cart_item.item_quantity }}"
                                                        class="form-control" style="width: 80px" onchange="changeAmount({{item.id}});">
                                            </td>
                                            <td>${{item.price}}</td>
                                            <td>${{discount}}</td>
                                            <td>${{total_price}}</td>
                                            <td><a href="javascript:void(0)" onclick="deleteItemFromCart({{item.id}});"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">${{total_price}}</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-default"><i class="fa fa-refresh"></i> Update basket</button>
                                    <button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- /.box -->


                    <div class="row same-height-row">







                    </div>


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header">
                            <h4>Coupon code</h4>
                        </div>
                        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control" id="code">

                                <span class="input-group-btn">

					<button class="btn btn-primary" type="button" onclick="addCouponCode();"><i class="fa fa-gift"></i></button>

				    </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->





    </div>
    <!-- /#all -->




</body>

</html>