<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        function placeOrder()
        {
            var data = new FormData();
            data.append('username', "OmriOmri");
            var loadHTML = new XMLHttpRequest();
            loadHTML.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
            if (loadHTML.responseText.substring(0,2) === 'OK')
                {
                    var purchase_id = '';
                    var amount = '';
                    var found = false;
                    for(var i=2;i<loadHTML.responseText.length && !found ;i++)
                    {
                        if(loadHTML.responseText.charAt(i) == '}')
                        {
                            purchase_id = loadHTML.responseText.substring(2,i);
                            amount = loadHTML.responseText.substring(i+1);
                            found = true;
                        }
                    }
                    window.location.href = "http://localhost:8000/app/shopping_cart/receipt/?purchase_id=" + purchase_id + "&amount=" + amount;

                }
                else
                {
                    alert(loadHTML.responseText);
                   location.reload();
                }

            }
            };
            loadHTML.open("POST", "../app/shopping_cart/pay_all/", true);
            loadHTML.send(data);
        }


    </script>
    <BASE href="http://localhost:8000/static/">
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        uTrade
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>
    <script src="js/search.js"></script>
    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
     <!-- *** TOPBAR ***
_________________________________________________________ -->
{% autoescape off %}
    {{ topbar }}
{% endautoescape %}

<!-- *** TOP BAR END *** -->

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

                <a class="navbar-brand home" href="../app/home/" data-animate-hover="bounce">
                    <img src="img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="../app/shopping_cart/get_cart_items/">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs"> {{number_of_items}} items in cart</span>
                    </a>
                </div>
            </div>
        <!--/.navbar-header -->

        <!--/.nav-collapse -->

        {% autoescape off %}
            {{ navbar }}
        {% endautoescape %}

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="../app/home/">Home</a>
                        </li>
                        <li>Checkout - Order review</li>
                    </ul>
                </div>

                <div class="col-md-12" id="checkout">

                    <div class="box">
                        <form action="javascript:placeOrder()">
                            <h1>Checkout - Order review</h1>
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="http://localhost:8000/app/shopping_cart/addressing/"><i class="fa fa-map-marker"></i><br>Address</a>
                                </li>
                                <li class="active"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
                                </li>
                            </ul>

                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Quantity</th>
                                                <th>Unit price</th>
                                                <th>Discount</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cart_item,item,discount,total_price in cart_items_combined %}
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <img src="{{item.url}}">
                                                    </a>
                                                </td>
                                                <td><a href="#">{{item.name}}</a>
                                                </td>
                                                <td>{{cart_item.item_quantity}}</td>
                                                <td>${{item.price}}</td>
                                                <td>${{discount}}</td>
                                                <td>${{total_price}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Total</th>
                                                <th>${{total_price}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.content -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="http://localhost:8000/app/shopping_cart/addressing/" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Address</a>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-primary" type="submit">Place an order<i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col-md-9 -->

                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>






</body>

</html>