<!DOCTYPE html>
<html lang="en">

<head>

    <BASE href="http://localhost:8000/static/">
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        uTrade
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">

    <!-- *** SCRIPTS TO INCLUDE ***
_________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
    <script src="js/search.js"></script>
    <script src="js/web_sockets.js"></script>
    <script src="js/add_to_cart.js"></script>


</head>

<body>

<!-- *** TOPBAR ***
_________________________________________________________ -->
{% autoescape off %}
    {{ topbar }}
{% endautoescape %}

<!-- *** TOP BAR END *** -->

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="../app/home/" data-animate-hover="bounce">
                <img src="img/logo.png" alt="Obaju logo" class="hidden-xs">
                <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">3 items in cart</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <!--/.nav-collapse -->

        {% autoescape off %}
            {{ navbar }}
        {% endautoescape %}
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->


<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="../app/home/">Home</a>
                    </li>
                    <li>
                        <a href="../app/shop/?shop_name={{ shop_name }}">{{ shop_name }}</a>
                    </li>
                    <li>{{ item_name }}</li>
                </ul>

            </div>

            <div class="col-md-12">

                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div class="box" id="Item_Image">
                            <div id="mainImage">
                                <img src={{ url }}
                                             alt="" class="img-responsive"
                                     style="margin-left: 20px; max-height: 300px"/>
                            </div>
                        </div>
                        <div class="box" id="Product-Details">
                            <div class="box-header">
                                <h3 class="text-center">Product Details</h3>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Shop</td>
                                        <th class="text-right">{{ shop_name }}</th>
                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <th class="text-right">{{ category }}</th>
                                    </tr>
                                    <tr>
                                        <td>Kind</td>
                                        <th class="text-right">{{ kind }}</th>
                                    </tr>
                                    <tr>
                                        <td>Ranking</td>
                                        <th class="text-right">{{ item_rank }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                                <p class="text-center buttons">
                                    <a href="../app/item/reviews/?item_id={{ item_id }}" class="btn btn-primary"><i
                                            class="fa fa-files-o"></i> Show Reviews</a>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <h1 class="text-center">{{ item_name }}</h1>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="img/money-bag.png" style="margin-left: 67px; margin-top: 8px;" alt="" height="69" width="69">
                                        </td>
                                        <td>
                                            <h4 style="margin-top: 8px; text-decoration-line:line-through; color: #ab1124">{{ former_price }}</h4><h3 style="margin-top: 25px;">${{ price }}</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/{{ quantity_icon }}" style="margin-left: 60px;" alt="" height="63"
                                                 width="87">
                                        </td>
                                        <td>
                                            <h3 style="margin-top: 22px;color: #4d8537;">{{ quantity }}</h3>
                                        </td>
                                    </tr>
                                    <tr style="visibility: {{ visibility_quantity }}">
                                        <td>
                                            <h3 style="margin-top: 22px; margin-left: 30px;color: #141414;">Select Quantity:</h3>
                                        </td>
                                        <td>
                                            <input id = "quantity_input" style="margin-top: 22px; width: 100px;" type="number" max="{{ quantity }}" min="0" class="form-control">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                            <p class="text-center buttons">
                                <a style="visibility: {{ visibility_add_to_cart }}" id="add_to_cart_btn" href="javascript:void(0)" class="btn btn-primary"
                                   onclick="addToCart({{ item_id }});"><i class="fa fa-shopping-cart"></i> Add to
                                    cart</a>
                            </p>

                        </div>
                        <div class="box" id="additional_table">
                            <div class="box-header">
                                <h3 class="text-center">{{ headline }}</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div style="margin-left: {{ lottery_margin_left }}px;" class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <h5 class="text-center">{{ header_of_table }}</h5>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold;">{{ right1 }}</td>
                                                        <th class="text-right">{{ policy_or_percentage }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold;">{{ right2 }}</td>
                                                        <th class="text-right" style="color: #2c6606">{{ deadline_or_start_date }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold;">{{ right3 }}</td>
                                                        <th class="text-right" style="color: #ab1124">{{ real_end_time_or_end_date }}</th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <th>
                                            <div style="{{ invisible }}" class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <h5 class="text-center">Item Discount</h5>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ right1 }}</td>
                                                        <th class="text-right">{{ item_percentage }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ right2 }}</td>
                                                        <th class="text-right" style="color: #2c6606">{{ item_start_date }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ right3 }}</td>
                                                        <th class="text-right" style="color: #ab1124">{{ item_end_date }}</th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col-md-3 -->
                    </div>

                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
</div>
<!-- /#all -->


</body>

</html>