<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>

        function webSocketClicked() {
            /*var Socket = new WebSocket('ws://localhost:8000/test/');
            Socket.onopen = function () {
                alert('connected!')
            };
            Socket.onclose = function () {
                alert('closed')
            };*/
        }

        function nextPage() {
            /*var loadHTML = new XMLHttpRequest();
            loadHTML.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    document.body.innerHTML = loadHTML.responseText;
                }
            };
            loadHTML.open("GET", "http://localhost:8000/test2/", true);
            loadHTML.send();*/
            window.location = 'http://localhost:8000/test2/'
        }
    </script>
</head>
<body>
<h1>Welcome To uTrade!</h1>
<h2>This page is awesome</h2>
<button type="button" onClick="webSocketClicked()">WebSocket</button>
<a></a>
<button type="button" onclick="nextPage()">Next Page</button>

</body>
</html>