<!DOCTYPE html>
<html lang="en">

<head>
    <BASE href="http://localhost:8000/static/">


    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        uTrade
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">


    <!-- *** SCRIPTS TO INCLUDE ***
_________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
    <script src="js/search.js"></script>
    <script src="js/web_sockets.js"></script>


</head>

<body>

<!-- *** TOPBAR ***
_________________________________________________________ -->
{% autoescape off %}
    {{ topbar }}
{% endautoescape %}

<!-- *** TOP BAR END *** -->

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="../app/home/" data-animate-hover="bounce">
                <img src="img/logo.png" alt="Obaju logo" class="hidden-xs">
                <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="../app/shopping_cart/get_cart_items/">
                    <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">3 items in cart</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <!--/.nav-collapse -->

        {% autoescape off %}
            {{ navbar }}
        {% endautoescape %}
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->


<div id="all">

    <div id="content">

        <!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
        <div id="advantages">

            <!-- /.container -->

        </div>
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->

        <!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
        
        <div id="hot">

            <div class="box">
                <div class="container">
                    <div class="col-md-12">
                        <h2>Hot Items</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="product-slider">
                    <!-- /.col-md-4 -->
                    {% for item in items %}
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="../app/item/?item_id={{ item.id }}">
                                                <img src="{{item.url}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                            </div>
                            <a href="../app/item/?item_id={{ item.id }}" class="invisible">
                                <img src="{{item.url}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a href="../app/item/?item_id={{ item.id }}">{{ item.name }}</a></h3>
                                <p class="price">${{ item.price }}</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                    {% endfor %}
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#hot -->

        <!-- *** HOT END *** -->

        <!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->


    </div>
    <!-- /#content -->


</div>
<!-- /#all -->


</body>

</html>