<!DOCTYPE html>
<html lang="en">

<head>

    <BASE href="http://localhost:8000/static/">


    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        uTrade
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
    <script src="js/search.js"></script>
    <script src="js/web_sockets.js"></script>

    <script>
        function insert_log_tuples(type) {
            let loadHTML = new XMLHttpRequest();
            loadHTML.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let tbody = document.getElementById("log_items");
                    tbody.innerHTML = loadHTML.responseText
                }
            };
            loadHTML.open("GET", "../app/system/logger/" + type + "/", true);
            loadHTML.send();
        }

        function change_type() {
            let type = document.getElementById("type");
            let for_security = document.getElementById("for_security");
            for_security.style.display = "none";
            type = type.options[type.selectedIndex].value;
            let tr = document.getElementById("checkpoint");
            switch (type) {
                case "event":
                    tr.innerHTML = '<tr id="checkpoint">\
                                        <th>USERNAME</th>\
                                        <th>TIME</th>\
                                        <th>EVENT</th>\
                                    </tr>';
                    break;
                case "error":
                    tr.innerHTML = '<tr id="checkpoint">\
                                        <th>USERNAME</th>\
                                        <th>TIME</th>\
                                        <th>EVENT</th>\
                                        <th>DETAILS</th>\
                                    </tr>';
                    break;
                case "login":
                    tr.innerHTML = '<th>USERNAME</th>\
                                    <th>TIME</th>';
                    break;
                case "security":
                    tr.innerHTML = '\
                                    <th>TIME</th>\
                                    <th>EVENT</th>\
                                    <th>DETAILS</th>';
                    for_security.style.display = "block";
                    break;
            }
            insert_log_tuples(type);
        }

    </script>
</head>

<body onload="change_type()">
{% autoescape off %}
    {{ topbar }}
{% endautoescape %}

<!-- *** TOP BAR END *** -->

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="../app/home/" data-animate-hover="bounce">
                <img src="img/logo.png" alt="Obaju logo" class="hidden-xs">
                <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="../app/shopping_cart/get_cart_items/">
                    <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">3 items in cart</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->


        {% autoescape off %}
            {{ navbar }}
        {% endautoescape %}
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->

<div id="all">

    <div id="content">
        <div class="container">


            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">


                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="../app/system/users/"><i class="fa fa-list"></i> Users</a>
                            </li>
                            <li>
                                <a href="../app/system/history/"><i class="fa fa-heart"></i> History</a>
                            </li>
                            <li>
                                <a href="../app/system/shops/"><i class="fa fa-user"></i> Shops</a>
                            </li>
                            <li>
                                <a href="../app/system/policies/"><i class="fa fa-user"></i> Policies</a>
                            </li>
                            <li class="active">
                                <a href="../app/system/logger/"><i class="fa fa-user"></i> Loggers</a>
                            </li>
                            <li>
                                <a href="../app/system/con_reporting/"><i class="fa fa-user"></i> Continuous
                                    Reporting</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <div class="col-md-9">
                <div class="box">
                    <h1>Loggers</h1>
                    <p class="lead">Here you can see the system logs.</p>
                    <div id="for_security">
                        <p class="lead">We can't save specific details about the SQL injections. So here is a list of
                            codes
                            that represent the substring that was suspicious:</p>
                        <p class="lead">
                            [0:"'", 1:"--", 2:"#", 3:"IF(", 4:"0x", 5:"||", 6:"CONCAT", 7:"LOAD_FILE", 8:"CHAR",
                            9:"ASCII",
                            10:"Hex", 10:"MD5",11:"ORDER BY", 12:"INSERT INTO", 13:"LIMIT", 14:"UNION", 15:"BENCHMARK",
                            16:"sleep(", 17:"DELETE", 18:"DROP"]
                        </p>
                    </div>

                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <label for="type">Type</label>
                        <select style="width: 20%" name="type" id="type" class="form-control" onchange="change_type()">
                            <option value="event">Event</option>
                            <option value="error">Error</option>
                            <option value="login">Login</option>
                            <option value="security">Security</option>
                        </select>
                    </div>
                    <div class="table-responsive">
                        <table id="event" class="table table-hover">
                            <thead>
                            <tr id="checkpoint">
                            </tr>
                            </thead>
                            <tbody id="log_items">


                            </tbody>
                        </table>
                    </div>


                </div>

            </div>


        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
</div>
<!-- /#all -->


</body>

</html>
