<!DOCTYPE html>
<html lang="en">
<head>
    <BASE href="http://localhost:8000/static/">

    <meta charset="UTF-8">
    <title>Testing</title>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script>
        var Socket = null;
        var connected = true;

        $(document).ready(function () {
            Socket = new WebSocket('ws://localhost:8000/test/');
            Socket.onopen = function () {
                connected = true;
                alert('connected!')
            };
        });

        function webSocketClicked() {
            if (connected) {
                alert("here");
                Socket.send("My Message!!!")
            }
        }

        function nextPage() {
            window.location = 'http://localhost:8000/test2/'

        }
    </script>
</head>
<body>
<div>
    <h1>This is not a joke, I'm crying for help!!!</h1>
    <button type="button" onClick="webSocketClicked()">WebSocket</button>
    <button type="button" onclick="nextPage()">Next Page</button>
</div>
</body>
</html>