<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <script>
        function webSocketClicked() {
            var Socket = new WebSocket('ws://127.0.0.1:8000/test/');
            Socket.onopen = function () {
                alert('connected!')
            }
        }

        function nextPage() {
            var loadHTML = new XMLHttpRequest();
            loadHTML.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    document.body.innerHTML = loadHTML.responseText;
                }
            };
            loadHTML.open("GET", "http://127.0.0.1:8000/test2/", true);
            loadHTML.send();
        }
    </script>
</head>
<body>
<div>
    <h1>This is not a joke, I'm crying for help!!!</h1>
    <button type="button" onClick="webSocketClicked()">WebSocket</button>
    <button type="button" onclick="nextPage()">Next Page</button>
</div>
</body>
</html>