<div class="col-md-4 col-sm-6">
    <div class="product">
        <a href="../app/item/?item_id={{ item_id }}">
            <div style="height:300px; align-items: center;">
                <img src={{ url }} class="img-responsive" style="align-self:center; max-height: 300px"/>
            </div>
        </a>
        <div class="text">
            <h3><a id="enter_item_page" href="../app/item?item_id={{ item_id }}">{{ name }}</a></h3>
            <p class="price">${{ price }}</p>
        </div>
    </div>
</div>
