<div class="navbar-buttons">

    <div class="navbar-collapse collapse right" id="basket-overview">
        <a id="goto_shopping_cart" href="../app/shopping_cart/get_cart_items/" class="btn btn-primary navbar-btn"><i
                class="fa fa-shopping-cart"></i>
            <span class="hidden-sm">{{ cart_items }} items in cart</span></a>
    </div>
    <!--/.nav-collapse -->

    <div class="navbar-collapse collapse right" id="search-not-mobile">
        <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
            <span class="sr-only">Toggle search</span>
            <i class="fa fa-search"></i>
        </button>
    </div>

    {{user_buttons}}

</div>

<div class="collapse clearfix" id="search">
            <div class="row">

                <div class="row">
                    <form class="navbar-form" role="search" action = "javascript:onClickOnSearch1()">
                        <div class="input-group">
                            <input type="text" id="SearchForm1" class="form-control" placeholder="Search By Name">
                            <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>

		    </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form class="navbar-form" role="search" action = "javascript:onClickOnSearch2()">
                        <div class="input-group">
                            <input type="text" id="SearchForm2" class="form-control" placeholder="Search By Category">
                            <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>

		    </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form class="navbar-form" role="search" action = "javascript:onClickOnSearch3()">
                        <div class="input-group">
                            <input type="text" id="SearchForm3" class="form-control" placeholder="Search By Keywords">
                            <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>

		    </span>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <form class="navbar-form" role="search" action = "javascript:onClickOnSearch4()">
                        <div class="input-group">
                            <input type="text" id="SearchForm4" class="form-control" placeholder="Search Shop">
                            <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>

		    </span>
                        </div>
                    </form>
                </div>

            </div>

        </div>
