<div class="navbar-buttons">

    <div class="navbar-collapse collapse right" id="basket-overview">
        <a href="../app/shopping_cart/get_cart_items/" class="btn btn-primary navbar-btn"><i
                class="fa fa-shopping-cart"></i>
            <span class="hidden-sm">{{ cart_items }} items in cart</span></a>
    </div>
    <!--/.nav-collapse -->

    <div class="navbar-collapse collapse right" id="search-not-mobile">
        <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
            <span class="sr-only">Toggle search</span>
            <i class="fa fa-search"></i>
        </button>
    </div>

    {{user_buttons}}

</div>
