<tr>
    <td>
        <a href="http://localhost:8000/app/item/?item_id={{ item_id }}">
            <img src="{{ item_url }}" alt="{{ item_name }}">
        </a>
    </td>
    <td><a href="http://localhost:8000/app/item/?item_id={{ item_id }}">{{ item_name }}</a>
    </td>
    <td>{{ item_quantity }}</td>
    <td>{{ item_price }} $</td>
    <td>{{ shop_name }}</td>
    <td>
        <button onclick="openedShop='{{ shop_name }}'" href="#" data-toggle="modal" data-target="#review-shop-modal"
                class="btn btn-primary">Review Shop
        </button>
    </td>
    <td>
        <button onclick="openedItem='{{ item_name }}'" href="#" data-toggle="modal" data-target="#review-item-modal"
                class="btn btn-primary">Review Item
        </button>
    </td>
</tr>