<tr>
    <th>{{ shop_name }}</th>
    <td>{{ review }}</td>
    <td>
        <button id="{{ shop_name }}_status" onclick="setStatus('{{ shop_name }}')"
                class="{{ status_button_class }}">{{ status }}</button>
    </td>

    <td>
        <button href="#" onclick="shopModalOpened('{{ shop_name }}')" data-toggle="modal"
                data-target="#edit-managers-modal"
                class="btn btn-primary btn-sm">View
        </button>
    </td>

    <td>
        <button href="#" onclick="shoppingPoliciesOpened('{{ shop_name }}')" data-toggle="modal"
                data-target="#shopping-policies-modal"
                class="btn btn-primary btn-sm">Shopping Policies
        </button>
    </td>

    <td>
        <button href="#" onclick="addOwnerOpened('{{ shop_name }}')" data-toggle="modal"
                data-target="#add-owner-modal"
                class="btn btn-primary btn-sm">Add Owner
        </button>
    </td>

    <td>
        <a href="../app/shop/messages/?content=received&shop_name={{ shop_name }}" class="btn btn-primary btn-sm"><i
                class="fa fa-envelope"></i></a>
    </td>

    <td>
        <a href="../app/shop/?shop_name={{ shop_name }}" class="btn btn-primary btn-sm">Go to
            Shop</a>
    </td>

    <td>
        <button href="#" onclick="getHistory('{{ shop_name }}')" data-toggle="modal"
                data-target="#show-history-appointings-modal"
                class="btn btn-primary btn-sm">Show Appointings
        </button>
    </td>

</tr>