    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown" style="display: none">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li style="color: #4fbfa8">Logged in as <strong>{{ username }}</strong></li>

                    <li><a href="contact.html">Contact</a>
                    </li>

                    <li><a href="../app/my/account/">Private Area</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>